<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn">
        Upload
    </button>
</div>
  
<!-- Shareable short link of  uploaded file -->
<div class="myDiv"
    *ngIf="shortLink">
    <h4> Visit Here</h4>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
  
<!--Flag variable is used here-->
<!-- <div class="myDiv" *ngIf="loading">
    <h3>Loading ...</h3>
</div>-->